<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--################# НАСТРОЙКА ПАРСЕРА ШАБЛОНА #################-->
    <!--Порядковый номер строки с данными (не с заголовком). Отсчет с 1-->
    <add key="firstRow" value="10"/>
    <!--Порядковый номер колонки с квартирами. Отсчет с 1-->
    <add key="flatColumn" value="4"/>
    <!--Порядковый номер колонки с серийниками. Отсчет с 1-->
    <add key="factoryColumn" value="5"/>
    <add key="constr" value="Server=localhost;Port=5432;User Id=postgres;Password=;Database=prizmer;Pooling=true;MinPoolSize=1;MaxPoolSize=1000;"/>

  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
